
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body css */
body{
    overflow-x: hidden;
}
/* navigation css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:#dcd7d9;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 200;
}

.logo{
    cursor: pointer;
    margin-left: 34px;
}
.logo img{
    height: 60px;
    width:60px;
   border-radius: 12px;
   border: 2px solid #0f1d22;
}
.nav-links{
    display: flex;
    align-items: center;
    font-size: 28px;
    width: 50%;
    justify-content: space-between;
}
.nav-links li{
    list-style: none;
     position: relative;
}

.nav-links li::after{
    position: absolute;
content: "";
background: #94ec0e;
width: 0%;
transition: .5s;
height: 3px;
left: 0;
bottom: 0px;
}
.nav-links li:hover::after{
    width: 100%;
}
.nav-links li:hover{
    transition: .5s;
}
.nav-links li a:hover{
    color: #73bd06c9;

}
.nav-links li a{
    margin: 10px;
    list-style: none;
    text-decoration: none;
    color: #0c0e0f;

    cursor: pointer;
    transition: .5s;
}
.nav-links li a.active{
    display: none;
} 

.nav-btns{
    width: 30%;
}
.nav-btns button{
padding: 12px 26px;
font-size: 26px;
border-radius: 8px;
border: none;
outline: none;
max-width: 230px;
width: 100%;
cursor: pointer;
text-transform: capitalize;
background-color:#94ec0e;
color: #082b31;

}
.nav-btns button:hover{
    background-color:#75be08;
    transition: .5s;
    color:white;
}
.menu-btn{
    display: none;
}





/* footer css */
footer{
    background-color:#0f1d22;
    padding: 23px;
}
footer .logo img{
border-radius: 6px;
width: 120px;
height: 120px;
border: 4px solid #94ec0e;
}
footer .header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
footer .header h1{
    font-size: 33px;
    color: #94ec0e;
}
footer .header p{
    height: 7px;
    width: 14px;
    display: inline-block;
    background-color: #94ec0e;
}
footer form label{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 23px;
}
form label input {
    height: 60px;
    width: 300px;
    outline: none;
    border: none;
    padding-left: 12px;
     border-radius: 6px;
     font-size:17px;
}

form .text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-area textarea{
    max-width: 940px;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 23px;
    font-size: 19px;
    border-radius: 12px 12px 2px 2px;
    outline: none;
    border: none;
}
.text-area button{
    max-width: 940px;
    width: 100%;
    height: 50px;
    font-size: 19px;
    padding: 10px;
    text-transform: capitalize;
    background-color: #fd8916;
    color: #0f1d22;
    border: 2px solid #fd8916;
    outline: none;
    transition: .5s;
    
}

.text-area button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #94ec0e;
    border-top: none;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin: 20px;
margin-top: 40px;
gap: 30px;
flex-wrap: wrap;

}
.footer-bottom .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-bottom .col .header{
    margin-bottom: 50px;
}
.footer-bottom .col .header p{
    height: 4px ;
    width: 32px;
}
.footer-bottom .col ul li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 18px;
    width: 70%;
    color: #f1d4af;
    font-weight: 600;
}
.footer-bottom .col1{
    margin-left: 67px;
}
.footer-bottom .col1 img{
width: 150px;
height: 150px;
}
.footer-bottom .col ul li:hover{
    color: #75be08;
    transition: .5s;
    cursor: pointer;
}
.footer-bottom .col1 h3{
    max-width: 150px;
    width: 100%;
    margin-top: 36px;
    color:#fd8916;
    margin-bottom: 8px;
}
.footer-bottom .col1 button{
    max-width: 170px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: 2px solid #94ec0e;
    font-size: 19px;
    padding: 8px;
    cursor: pointer;
}
.footer-bottom .col1 button:hover{
    background-color:#94ec0e;
    color: #082b31;
    transition: .5s;
}
.footer-bottom .col2{
    margin-right: -90px;
}
.footer-bottom .col3{
    margin-right: 34px;
}
.end{
    color: #0f1d22;
    display: flex;
    justify-content: center;
    border-top: 1px solid #f1d4af;
    padding-top: 24px;
    align-items: center;
    background-color: #94ec0e;
    padding-bottom: 24px;
}
@media (max-width:1025px) {
    .nav-links{
        font-size: 25px;
        margin-right: 30px;
        gap: 0px;
    }
    .nav-btns button{
        transform: scale(.8);
    }
    .logo img{
        transform: scale(.8);
        margin-right: -30px;
    }

}
@media (max-width:867px) {
    nav{
        display: flex;
        align-items: center;
        padding: 2px;
    }
    .nav-links{
        transform: scale(.8);
    }
   .nav-btns{
    transform: scale(.8);
    margin-bottom: -16px;
   }    
   .logo{
    transform: scale(.8);
    margin-left: 12px;
    margin-right: -23px;
   }

   /* footer  */

   .footer-bottom .col3{
    margin-left: 53px;
    margin-right: -23px;
   }
   .footer-bottom .col3 .header{
    margin-bottom: 12px;
    margin-left: -24px;
   }
}

@media (max-width:768px) {
    .nav-links{
        position: absolute;
        top: 69px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200%;
        right: -55%;
        background-color: #dcd7d9;
        transform: translateX(100%);
        transition: .5s;
    }
    .nav-links.Active{
        transform: translateX(0);
        transition: .5s;
    }
    .nav-btns button{
        font-size: 1
        24px;
        font-weight: 700;
        max-width:320px ;
        padding: 18px;
        width: 100%;
    }
     .nav-btns{
        display: flex;
        align-items: center;
        width: 50%; 
        justify-content: flex-end;
    }
   .nav-btns button{
    display: none;
   }  
    .nav-btns .menu-btn{
    display: block;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
   }
   .nav-btns .menu-btn svg{
    fill: #082b31;
    height: 40px;
    width: 40px;
   }
   .logo{
width: 50%;
   }
   

   /* footer */
 .text-area button{
    font-size: 17px;
 }
   .footer-bottom {
    margin-left: -34px;
   }
   footer .header h1{
  font-size: 30px;
  border-bottom: 4px solid #94ec0e;
   }
   footer .header p{
    display: none;
   }
form label {
    flex-direction: column;
}
form label input{
    max-width: 670px;
    width: 100%;
}
.footer-bottom{
flex-direction: column;    
}
.footer-bottom .col1{
    flex-direction: column;
    align-items: flex-start;
}
.col .logo{
    margin-left: -39px;
    margin-bottom: -49px;
}
.col1 .logo img{
    width: 190px;
    height: 190px;
}
.footer-bottom .col1 button{
    margin-left: -23px;
    width: 200px;
    
    font-size: 13px;
}
 .col1 h3{
    font-size: 23px;
    width: 400px;
    width: 100%;
}

.footer-bottom .col1 h3{
    font-size: 19px;
    width: 70%;
    margin-top: 50px;
    }
    .footer-bottom .col2{
        margin-left: 60px;
    }
.footer-bottom .col2 .header{
    margin-left: -23px;
}

.col2 ul li{
    width: 100%;
}
.footer-bottom .col ul li{
    max-width: 355px;
    width: 100%;
    margin-left: -12px;
}
.end{
    padding: 16px;
}
.end h3{
    font-size: 17px;
}
}


