
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
width: 100%;
}
a, li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.header{
    margin-top: 30px;
    display: flex;
    padding-top: 10px;
    margin-bottom: 30px;
  gap: 6px; 
  justify-content: center;
  align-items: center;

}
.header h1{
    font-size: 40px;
    color: #030b27;
    font-weight: 800;
}
.header p{background-color: #17e9e1;
    margin-top: 9px;
height: 6px ;
width: 50px;
display: inline-block;
}
nav{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom:2px solid greenyellow ;
    z-index: 1000;
}
li,a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 30%;
    font-size: 40px;
    color:#17224d ;
    cursor: pointer;
    transform: scale(.9);
}
.logo span{
    color: #17e9e1;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: 21px;
    gap: 15px;
    color: #0b1436;
}
.nav-links li{
    position: relative;
    transition: .5s;
    
}
.nav-links li::after{
position: absolute;
content: "";
background: #17e9e1;
width: 0%;
transition: .5s;
height: 3px;
left: 0;
bottom: 0px;
}
.nav-links li:hover{
    color: #17e9e1;
}
.nav-links li:hover:after{
    display: block;
    bottom: -19px;
    width: 100%;
    transition: .5s;
}


.nav-btns button{
    padding: 7px 10px;
    border: none;
    outline: none;
    font-size: 19px;
    color:#17224d;
    border-radius: 12px;
    font-weight: 700;
    background-color:#17e9e1;
    cursor: pointer;
    transition: .5s;
}
.nav-btns button:hover{
    background-color: #17224d;
    color: white;
}
@media (max-width:770px) {
    nav{
        justify-content: space-around;
        align-items: center
        
    }
    .nav-links{
        position: absolute;
        top: 130px;
        display: flex;
        flex-direction: column;
         align-items: flex-start; 
        gap: 20px;
        height: 30vh;
        background-color:white;
        transform: translateX(-200%);
       width:100vw;
       padding: 30px;
       padding-top:30px ;
       padding-bottom: 30px;
       transition: .8s;
       z-index:200;
    }
    .nav-btns {
        width: 15vw;
        display: flex;
        gap: 4px;
        margin-left: 30px;
        margin-right: 20px;
    }
    nav .contact{
        transform: scale(.8);
    }
    .nav-btns button{
        font-size: 19px;
    }
    .nav-links.Active{
        transform: translateX(0);
        transition: .8s;
    }
    .nav-links li{
        margin-left: 20px;
        font-size: 25px;
    }
    .logo{
        margin-left: 20px;
        margin-left: 0;
    }
        
    @media (max-width:420px) {
        .logo{
            transform: scale(.8);
            margin-right:80px ;
        }
        .nav-btns{
            margin-left:90px ;
            display: flex;
            justify-content: center;
            transform: scale(.8);
            margin-right: 12px;
        }
        .nav-btns button{
            margin: 0;
        }
    }
     .hero .left{
    transform: scale(.9); 
    }
}
nav{
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    height: 18vh;
    background-color: white;
    border-bottom:2px solid greenyellow ;
    z-index: 1000;
    
}
.nav-btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 4px;
    gap: 12px;
    align-items: center;
}
.menu-btn{
    display: none;
}
@media (max-width:770px) {
    .menu-btn{
        display: block;
    }
}
.nav-btns svg{
    display: flex;
    align-items: center  ;
    justify-content: center;
    height: 34px;
    width: 34px;
    fill: #0b1436;
}
.nav-btns svg:hover{
    fill: white;
    transition: .5s;
}

footer{
    background-color: #17224d;
    color: #faf5f5;
    margin-bottom: -19px;
}
footer .header h1{
    color: #faf5f5;
}
.inputs{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
   gap: 30px;
}
.inputs input{
height: 60px;
width: 24%;
font-size: 21px;
border: none;
outline: none;
border-radius: 7px;
padding: 10px 13px;}
@media (max-width:770px) {
    .inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputs input{
        width: 78%;
        outline:none;
        height: 60px;
        font-size: 21px;
        border: none;
        padding:7px 10px ;
        border-radius: 5px;
        }
        
}
.text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.text-area textarea{
    width:78%;
    border-radius: 12px;
    outline: none;
    height: 400px;
    font-size: 31px;
    padding: 20px;
    font-weight: 400;
    border: none;
}
.text-area button{
    width: 78%;
    padding: 10px 13px;
    font-size: 21px;
    background-color: #17224d;
    border: none;
    color: #17e9e1;
    outline: none;
    border: 3px solid #17e9e1;
    margin-top: 12px;
    text-transform: uppercase;
    transition: .5s;
    margin-bottom: 25px;
    cursor: pointer;
}
.text-area button:hover{
    transform: scale(1.02);
    background-color: #17e9e1;
    color: #17224d;
}
.col1{
    margin-top: 12px;
    margin-right: 43px;
    padding-right: 12px;
}

 .col1 .logo h1{
color:white;
margin-bottom: 12px;
transform: scale(.9);

 }

.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
color: white;
gap: 2%;
margin: 3%;
}

.footer-bottom .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -5px;
}
.footer-bottom ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: 700;
    width: 80%;
}
.footer-bottom .col1 button{
padding: 7px 10px;
background-color: #030b27;
color: #17e9e1;
border: none;
outline: none;
margin-top: 12px;
margin-left: 23px;
font-size: 19px;
}
.footer-bottom .col1 button:hover{
    background-color: #17e9e1;
    color: #0b1436;
    cursor: pointer;
    transition: .5s;
}
.footer-bottom ul  li:hover{
    color: #17e9e1;
    transition: .5s;
    cursor: pointer;
}
.footer-bottom .col1 h3{
    margin-left: 30px;
    transform: scale(1.1);
    width: 60%;
    margin-left: 36px;
}
.footer-bottom .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}
/* copyright */
.end{
font-size: 21px;
color: #17e9e1;
text-transform: capitalize;
background-color: #030b27;
padding: 30px 50px;
padding-top: 40px;
}
.end h3{
    font-weight: 200;
    display: flex;
    align-items: center;
}

@media (max-width:650px) {

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 53px;
    }
    .footer-bottom .col{
        width: 100%;
    }
    .footer-bottom .col1 h3{
        width: 80%;
    
    }
    footer .header{
        transform: scale(.9);
        gap: 0;
    }
     footer .header h1{
       transform: scale(.8);
       font-size: 38px;
       display: block;
       margin: 0;
     }
}
@media (max-width:380px) {
    .end{
        font-size: 12px;
    }

    
}
